@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
#dateTimeModule #time {
  font-size: 120px; }

#dateTimeModule #date {
  font-size: 40px; }

body {
  font-family: "Roboto Condensed", serif;
  font-weight: normal; }

/*h1, h2, h3, h4, h5, h6 {
    font-family: $roboto-condensed;
    font-weight: normal;
    }
*/
#weather #current-temperature {
  font-size: 60px; }
  #weather #current-temperature #today-min-max {
    font-size: 20px;
    /*padding-top:15px;*/ }

#weather #hourly-summary {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 10px; }

#weather #forecast {
  font-size: 25px; }
  #weather #forecast #city-forecast {
    border-bottom: 1px solid grey;
    font-size: 20px; }

#weather #weather-week {
  padding-top: 30px; }

body {
  /*width: 1080px;
    height: 1920px;*/
  background-color: black;
  color: white;
  padding-top: 30px; }

#mirrorSection div {
  /*height: 300px;*/
  /*font-size: x-large;*/ }

#mirrorSection #dateTimemodule {
  height: 300px; }

#mirrorSection #currentWeatherModule {
  /*height: 200px;*/
  padding-bottom: 150px; }

#mirrorSection #calendarModule {
  height: 200px; }

#mirrorSection #forecastModule {
  height: 200px; }

#mirrorSection #trafficModule {
  /*height: 200px;*/ }

#mirrorSection #hassModule {
  /*height: 200px;*/ }

#mirrorSection .no-gutters {
  padding: 0; }

