<h2>Publisher</h2>

<input type="text" id="reportName" placeholder="Enter report name" />
<input type="button" id="publishReport" value="Publish" />

@section Scripts {
    <script>
    $(function () {

    let hubUrl = 'http://localhost:65510/reportsPublisher';
    let httpConnection = new signalR.HttpConnection(hubUrl);
    let hubConnection = new signalR.HubConnection(httpConnection);

        $("#publishReport").click(function () { //todo I want a new mqtt message to invoke this instead
    hubConnection.invoke('PublishReport', $('#reportName').val()); 
    });

    hubConnection.start();

    });
    </script>
}