@model MagicMirror.Models.AdminModels.SetCredentialsViewModel

@{
    Layout = "_AdminLayout";
}

<h2>Set credentials</h2>
<form asp-controller="Admin" asp-action="SetCredentials" method="post" role="form">
    <div class="form-group">
        <label class="col-sm-2" asp-for="HassPassword"></label>
        <input asp-for="HassPassword" />
    </div>
    <div class="form-group">
        <label class="col-sm-2" asp-for="HassBaseUrl"></label>
        <input asp-for="HassBaseUrl" />
    </div>
    <div class="form-group">
        <label class="col-sm-2" asp-for="DarkSkyApiKey"></label>
        <input asp-for="DarkSkyApiKey" />
    </div>
    <div class="form-group">
        <label class="col-sm-2" asp-for="MqttBroker"></label>
        <input asp-for="MqttBroker" />
    </div>
    <div class="form-group">
        <label class="col-sm-2" asp-for="MqttUsername"></label>
        <input asp-for="MqttUsername" />
    </div>
    <div class="form-group">
        <label class="col-sm-2" asp-for="MqttPassword"></label>
        <input asp-for="MqttPassword" />
    </div>
    <div class="form-group">
        <label class="col-sm-2" asp-for="SlRealTimeApiKey"></label>
        <input asp-for="SlRealTimeApiKey" />
    </div>
    <button type="submit">Save</button>
</form>
