<section id="mirrorSection">
    <div id="leftSection" class="col-md-5">
        <div id="dateTimeModule">
            <span id="date"></span>
            <span id="time"></span>
        </div> 
        <div id="calendarModule" class=""><h2>Calendar Module</h2></div> 
        <div id="todoListModule" class=""><h2>TODO-List Module</h2></div>
    </div>

    <div id="rightSection" class="col-md-offset-4 col-md-3">
        <div id="currentWeatherModule" class=""><h2>Current Weather Module</h2></div>
        <div id="forecastModule" class=""><h2>Forecast Module</h2></div>
        <div id="trafficModule" class=""><h2>Traffic Module</h2></div>
    </div>

    <div id="bottomSection" class="navbar-fixed-bottom">
        <div id="hassModule" class="col-md-12">
            <div class="col-md-3">@await Component.InvokeAsync("HassDoors")</div>
            <div class="col-md-3">@await Component.InvokeAsync("HassLights")</div>
        </div>
    </div>
</section>