<section id="mirrorSection">
    <div id="leftSection" class="col-md-5">
        <div id="dateTimeModule">
            <span id="date"></span>
            <span id="time"></span>
        </div> 
        <div id="calendarModule" class="">Calendar Module</div> 
        <div id="todoListModule" class="">TODO-List Module</div>
    </div>

    <div id="rightSection" class="col-md-offset-4 col-md-3">
        <div id="currentWeatherModule" class="">Current Weather Module</div>
        <div id="forecastModule" class="">Forecast Module</div>
        <div id="trafficModule" class="">Traffic Module</div>
    </div>

    <div id="bottomSection" class="navbar-fixed-bottom">
        <div id="hassModule" class="col-md-12">
            Home Assistant Module
            <div>Downstairs Litterbox Visits: <span id="DIV"></span>
            </div>
        </div>
    </div>
</section>