
<section id="mirrorSection">
    <div id="dateTimeModule" class="col-md-3">Date Time Module</div>
    <div id="currentWeatherModule" class="col-md-offset-6 col-md-3">Current Weather Module</div>

    <div id="calendarModule" class="col-md-3">Calendar Module</div>
    <div id="forecastModule" class="col-md-offset-6 col-md-3">Forecast Module</div>

    <div id="trafficModule" class="col-md-3">Traffic Module</div>
    <div id="" class="col-md-offset-6 col-md-3"></div>

    <div class="navbar-fixed-bottom">
        <div id="hassModule" class="col-md-12">Home Assistant Module</div>
    </div>
</section>