body {
    background-color: black;
    color: white;
    padding-top:30px;
}

#mirrorSection {
    div {
        /*height: 300px;*/
        font-size: x-large;
    }

    #dateTimemodule {
        height: 300px;
    }

    #currentWeatherModule {
        height: 300px;
    }

    #calendarModule {
        height: 300px;
    }

    #forecastModule {
        height: 300px;
    }

    #trafficModule {
        height: 300px;
    }

    #hassModule {
        height: 300px;
    }
}