@import "clock";
@import "fonts";
body {
    /*width: 1080px;
    height: 1920px;*/
    background-color: black;
    color: white;
    padding-top:30px;
}

#mirrorSection {
    div {
        /*height: 300px;*/
        font-size: x-large;
    }

    #dateTimemodule {
        height: 300px;
    }

    #currentWeatherModule {
        height: 300px;
    }

    #calendarModule {
        height: 200px;
    }

    #forecastModule {
        height: 200px;
    }

    #trafficModule {
        height: 200px;
    }

    #hassModule {
        height: 200px;
    }
}