<nav class="navbar navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="nav-item nav-link" asp-controller="Admin" asp-action="ChooseEntities">Choose entites</a>
            <a class="nav-item nav-link" asp-controller="Admin" asp-action="SetCredentials">Set credentials</a>
            <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Back to mirror</a>
        </div>
</nav>