@*<nav class="navbar navbar-fixed-top">*@
    <ul id="entities-nav" class="nav flex-column">
        <li class="nav-item"><a href="#alarm-control-panel">Alarm control panels</a></li>
        <li class="nav-item"><a href="#binary-sensor">Binary sensors</a></li>
        <li class="nav-item"><a href="#counter">Counter</a></li>
        <li class="nav-item"><a href="#input-boolean">Input booleans</a></li>
        <li class="nav-item"><a href="#input-select">Input select</a></li>
        <li class="nav-item"><a href="#light">Lights</a></li>
        <li class="nav-item"><a href="#lock">Locks</a></li>
        <li class="nav-item"><a href="#media-player">Media players</a></li>
        <li class="nav-item"><a href="#scene">Scenes</a></li>
        <li class="nav-item"><a href="#script">Scripts</a></li>
        <li class="nav-item"><a href="#sensor">Sensors</a></li>
        <li class="nav-item"><a href="#switch">Switches</a></li>
        <li class="nav-item"><a href="#automation">Automations</a></li>
        <li class="nav-item"><a href="#alert">Alerts</a></li>
        <li class="nav-item"><a href="#other">Other</a></li>
        <li class="nav-item"><a asp-controller="Admin" asp-action="UpdateEntities">Load entities</a></li>
    </ul>
@*</nav>*@