<div id="weather">
    <div id="current-temperature" class="">
        <div class="col-md-offset-2 col-md-8 no-gutters">
            <div id="current-top" class="text-left">
                <span id="dark_sky_precip"></span><span id="dark_sky_precip_probability">00</span><span>%</span>
            </div>
            <div id="current-bottom">
                <span class="glyphicon-cloud"> </span> @*summary icon*@
                <span id="dark_sky_temperature">00.0</span><span>&deg;</span>
            </div>
        </div>
        <div id="current-right" class="col-md-2 no-gutters text-right">
            <div>
                <span class="text-muted">max </span><span id="dark_sky_daily_high_temperature">00.0</span>
            </div>
            <div>
                <span class="text-muted">min </span><span id="dark_sky_daily_low_temperature">00.0</span>
            </div>
        </div>
    </div>
    <div id="hourly-summary">
        <span id="dark_sky_hourly_summary">Placeholder for day summary</span>
    </div>
    <div id="forecast" class="text-right">
        <div id="city-forecast">Nacka, Stockholm</div>
        @for (int i = 1; i <= 7; i++)
        {
            //var precipIcon =
            //var imgSrc = $"http://grimsan.servebeer.com:8123/static/images/darksky/{precipIcon}svg";
            <span id="day_@i" class="col-md-3">Day</span>
            <span class="col-md-3 precip-probability">
                <span id="dark_sky_precip_@i">@*<img src="@imgSrc">*@</span>
                <span id="dark_sky_precip_probability_@i">00</span><span>%</span>
            </span>
            <span id="dark_sky_daily_low_temperature_@i" class="col-md-3">00.0</span>
            <span id="dark_sky_daily_high_temperature_@i" class="col-md-3">00.0</span>
        }
    </div>
    <div id="weather-week">
        <span id="dark_sky_daily_summary">Placeholder for weekly summary</span>
    </div>
</div>