@model IEnumerable<HassEntity>

<div>
    @foreach (var door in Model)
    {
        <div>@door.Attributes.FriendlyName : @door.State</div>
        <div>Last changed: @door.LastChanged.ToString("g")</div>
    }
</div>